version: '3.8'

services:
  web:
    build: .
    container_name: isla_transfers_web
    restart: unless-stopped
    ports:
      - "8080:80"          
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: isla_transfers_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: isla_transfers
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d/ #Carga los scripts de inicio de la base de datos de la carpeta sql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: isla_transfers_pma
    restart: unless-stopped
    depends_on:
      - db
    environment:
      PMA_HOST: db  
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8081:80"
volumes:
  db_data:
